# Ignore Python virtual environments
venv/
.env/

# Ignore output and temp files
outputs/
*.log
*.tmp

# Ignore Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ignore editor/OS metadata
.DS_Store
*.swp
*.swo
*.bak

# Ignore Jupyter checkpoints if any
.ipynb_checkpoints/

data/nvd_cache/
